/* Dropdown content */
.dropdown-content {
  min-width: 100px;
  padding-top: 0px;
  padding-bottom: 0px;
  background-color: rgba(56, 56, 56, 1);
  border: 1px solid #5a5a5a; /* gray-200 */
  border-radius: 1px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Submenu triggers (folders) */
.submenu-trigger {
  display: flex;
  padding-left: 15px;
  padding-right: 10px;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  border-radius: 4px;
  min-height: 30px;
  transition: background-color 0.15s ease;
}

/* Folder hover */
.submenu-trigger:hover {
  background-color: rgb(7, 41, 50);
}

/* Folder that contains selected paths */
.submenu-selected {
  background-color: rgba(0, 255, 21, 0.135); /* subtle highlight */
}

/* Final selected folder or exact match */
.submenu-exact {
  background-color: rgba(0, 128, 255, 0.5); /* stronger highlight */
}

/* Selected image item */
.dropdown-item-selected {
  background-color: rgba(77, 255, 0, 0.153); /* highlight for selected images */
  transition: background-color 0.15s ease;
}

/* Hover effect for items and selected items */
.dropdown-item:hover,
.dropdown-item-selected:hover {
  background-color: rgba(0, 128, 255, 0.74) !important; /* stronger hover color */
  cursor: pointer;
}